.gameSection {
    width: 100vw;
    position: relative;
    margin: 10px 0;
}

.blockGame {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    border: solid 1px #777;

    padding: 12px 20px;
    border-radius: 12px;
}