.client_list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 20px;
    border-radius: 12px;
    background-color: #777;
}

.client_list-user {
    font-size: 20px;
    font-weight: 100;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .client_list-user_title {
        font-size: 22px;
        font-weight: 400;
    }

    p {
        margin: 0 3px;
    }
}

.client_list-update{
    color: #777;
}