.auth_block {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 12px;
    background-color: #777;
}

.client_list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 20px;
    border-radius: 12px;
    background-color: #777;
}

.type__nick {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    .type__nick-input,
    .type__nick-btn {
        margin-left: 15px;
        margin-right: 40px;
        margin-top: 10px;
        width: 150px;
        height: 26px;
        color: black;
    }

    .type__nick-copy {
        left: 15px;
        top: 5px;
    }
}